body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 150%;
}

.about {
    display: flex;
    padding: 32px 40px 24px 40px;
    background-color: #e25544;
    color: whitesmoke;

}

.about__name {
    margin: 0 0 8px 0;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
}

.about__role {
    margin: 0 0 8px 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}
.about__text {
    margin: 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
}

.about__photo {
    margin-left: 50px;
    width: 114px;
    height: 114px;
    border-radius: 50%;
}

.main {
    padding: 0 40px;
}
.contacts {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}

.contacts__links {
    text-decoration: none;
    color: #485268;
}

.info {
    border-top: 1px solid #DEE2ED;;
}

.info__title {

}

.info__content {

}